<div id="wrapper">
  <nav>
    <span id="title">{{ title }}</span>
    <ul>
      <li>
        <a routerLink="/capsules">
        <img src="assets/icons/capsule.svg" alt="icon capsule">
        <span class="caption">CAPSULES</span>
        </a>
      </li>
        <li>
        <a href="/launches">
        <img src="assets/icons/launch.svg" alt="icon launch">
        <span class="caption">LAUNCHES</span>
        </a>
      </li>
    </ul>
  </nav>
  <section id="content">
    <router-outlet></router-outlet>
  </section>
</div>